@media screen and (min-width: 330px) {
  .header__middle {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-left: var(--pad-left-320);
    padding-right: var(--pad-right-320);
  }

  .header__line--screen320 {
    display: block;
  }

  .main-part {
    margin: 24px 0 24px var(--pad-left-320);
    gap: 24px;
  }


  .menu__button--displayable-1120 {
    display: none;
  }

  /*.menu__button--active-320 {*/
  /*  background-color: #FFFFFF;*/
  /*  border-radius: 6px;*/
  /*  border: 2px solid #B8FFEC;*/
  /*}*/
  .section__big-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  .section__text--second-paragraph,
  .section__ending {
    display: none;
  }

  .section__picture {
    margin-left: calc(-1 * var(--pad-left-320));
  }

  .services__container-wrapper {
    display: none;
  }

  .services__header {
    padding: 8px 16px 8px 16px;
  }

  .swiper {
    width: 100%;
    margin-top: 16px;
  }

  .swiper-brands {
    height: 116px;
  }

  .swiper-types-equipment {
    height: 208px;
  }

  .swiper-wrapper {
    margin-left: 16px;
  }

  .services__table {
    display: none;
  }

  .services__prices-for-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    font-size: 14px;
    width: 240px;
    height: 200px;
    //height: 200px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;

    & span {
      text-align: left;
    }

    & .services__button-prices-for-services-item {
      display: flex;
      flex-direction: column;
    }
  }

  .services__button-prices-for-services {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  .swiper-prices-for-services{
    height: 240px;
  }
  .services__button-prices-for-services-title {
    color: rgba(126, 126, 130, 1)
  }

  .services-offer {
    width: 288px;
    margin: 0 16px;
  }

  .services-offer__text {
    width: 288px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 19px;
  }

  .footer__info {
    text-align: center;
  }
}
